<h1>Dashboard</h1>
<h3>Jungle has currently : <%= @total_products%> of <a href="admin/products">products</a></h3>
<h3>Separeted into <%= @num_of_categories%> of <a href="admin/products">categories</a></h3>
