<h3 class="alert alert-warning" role="alert"> Hello there, it appears your cart is empty, would you like to go back to the main page?</h3>

<a href="/" class='btn btn-sm btn-warning'>Back to store </a>